nav{
    width: 100%;
    float: left;
    margin: 0;
    background-color: #f2f2f2;
    justify-content: space-around;
    border: 2px solid;
    margin-bottom: 10px;


}
ul {
    margin: 0;
    padding: 10px;
    overflow: hidden;
    background-color: lightgrey;
    text-align: center;
    position: relative;


}

li {

    text-align: center;
    display: inline-block;


}
li a{
    display: inline-flex;
    color: white;
    text-align: center;
    padding: 20px;
    text-transform: uppercase;
    color: black;
    font-size: 20px;
    font-weight: bold;
    font-family: Bahnschrift;
}
li a:hover:not(.active) {
    background-color: grey;
    border-radius: 50px;
}
.active {
    background-color: cadetblue;
    border-radius: 50px;
}


body{
    margin: 0 10%;
    border: 2px solid grey;


}
table, th, tr {
    width: auto;
    border-collapse: collapse;
    margin: auto;
    padding: 40px;





}
tr:hover {background-color: #f5f5f5;}

#headtable{
    background-color: darkred;
    text-align: center;
    font-size: 20px;
}
#overzicht tr:nth-child(even){background-color: lightgrey;}


h1{
    margin-top: 20px;
    font-size: 35px;
    text-align: center;
    font-family: Bahnschrift;
    text-transform: uppercase;

    

}
body{
    padding: 0;
    background-color: darkred;

}
article{
    background-color: #f2f2f2;
    border: 2px solid;
    padding: 2rem 2.5rem 3rem 2.5rem;
    text-align: center;
    align-items: center;
}



select {
    width: auto;
}

input[type="radio"] + label, input[type="radio"] {
    display: inline;
    width: auto;
}

::placeholder, input, textarea, select {
    font-size: 0.8rem;
    padding: 0.4rem;
}

select {
    height: 2.5rem;
}

input, textarea {
    margin-top: 0.4em;

}

form {
    max-width: 590px;
    margin: auto;
}

label, input, textarea, select {
    display: inline-block;
}
label, p>span:first-of-type {
    display: inline-block;
    width: 30%;
    text-align: right;
}
input, textarea, select {
    width: 65%;
}
input[type="submit"] {
    margin-left: 30%;
}
h3{
    text-transform: inherit;
}
